body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.sidebar {
    width: 150px;
    height: 100%;
    background-color: #f1f1f1;
    position: fixed;
    top: 150;
    left: 0;
    overflow-x: hidden;
    padding-top: 0px;
    /* Tamanho da barra superior */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    display: block;
    text-decoration: none;
    color: #333;
}

.content {
    margin-left: 150px;
    height: 500px;
    padding: 0px;
    background-color: #aca9cd;
}

select[name="trilhoVarao"] {
    width: 200px;
}

select[name="terminal"] {
    width: 200px;
}

input[id="valor1"] {
    width: 100px;
}

input[id="valor1.1"] {
    width: 100px;
}

input[id="valor1.2"] {
    width: 100px;
}

input[id="valor1.3"] {
    width: 200px;
}

input[id="valor2"] {
    width: 100px;
}

input[id="valor2.1"] {
    width: 100px;
}

input[id="valor2.2"] {
    width: 100px;
}

input[id="valor2.3"] {
    width: 200px;
}

label[for="valorA"] {
    margin-left: 50px;
}

label[for="valorB"] {
    margin-left: 95px;
}

label[for="valorC"] {
    margin-left: 45px;
}

label[for="valorD"] {
    margin-left: 65px;
}

label[for="valorE"] {
    margin-left: 90px;
}